
.fieldcontain input {
    background-color: #e4f1fb;
    border: 1px solid #74b2e2;
}

#search-home {
    border: none;
    box-shadow: none;
}

#status li #search-home a {
    outline: medium none;
}