.preload1 {
    background: url(../images/blue_1.gif);
}

.preload2 {
    background: url(../images/blue_1a.gif);
}

#ctmnav {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 36px;
    background: #e0edf6 url(../images/blue_0.gif) repeat-x;
    position: relative;
    z-index: 9999;
    font-family: arial, verdana, sans-serif;
}

#ctmnav li.top {
    display: block;
    float: left;
    height: 36px;
    z-index: 9999;
}

#ctmnav li a.top_link {
    display: block;
    float: left;
    height: 35px;
    line-height: 33px;
    color: #ccc;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    padding: 0 0 0 12px;
    cursor: pointer;
    background: url(../images/blue_0.gif);
    z-index: 9999;
}

#ctmnav li a.top_link span {
    float: left;
    display: block;
    padding: 0 24px 0 12px;
    height: 35px;
    background: url(../images/blue_0.gif) right top no-repeat;
}

#ctmnav li a.top_link span.down {
    float: left;
    display: block;
    padding: 0 24px 0 12px;
    height: 35px;
    background: url(../images/blue_0a.gif) no-repeat right top;
}

#ctmnav li:hover a.top_link {
    color: #fff;
    background: url(../images/blue_1.gif) no-repeat;
}

#ctmnav li:hover a.top_link span {
    background: url(../images/blue_1.gif) no-repeat right top;
}

#ctmnav li:hover a.top_link span.down {
    background: url(../images/blue_1a.gif) no-repeat right top;
}

/* Default list styling */

#ctmnav li:hover {
    position: relative;
    z-index: 9999;
}

#ctmnav li:hover ul.sub {
    left: 1px;
    top: 36px;
    background: #83b5f9;
    padding: 3px;
    border: 1px solid #5c731e;
    white-space: nowrap;
    width: 160px;
    height: auto;
    z-index: 9999;
}

#ctmnav li:hover ul.sub li {
    display: block;
    height: 20px;
    position: relative;
    float: left;
    width: 160px;
    font-weight: normal;
    z-index: 9999;
}

#ctmnav li:hover ul.sub li a {
    display: block;
    font-size: 11px;
    height: 18px;
    width: 160px;
    line-height: 18px;
    text-indent: 5px;
    color: #000;
    text-decoration: none;
    border: 1px solid #83b5f9;
    z-index: 9999;
}

#ctmnav li ul.sub li a.fly {
    background: #83b5f9 url(../images/arrow.gif) 150px 6px no-repeat;
    z-index: 9999;
}

#ctmnav li:hover ul.sub li a:hover {
    background: #343a70;
    color: #fff;
    border-color: #fff;
    z-index: 9999;
}

#ctmnav li:hover ul.sub li a.fly:hover {
    background: #5484ca url(../images/arrow_over.gif) 150px 6px no-repeat;
    color: #fff;
    z-index: 9999;
}

#ctmnav li:hover li:hover ul,
#ctmnav li:hover li:hover li:hover ul,
#ctmnav li:hover li:hover li:hover li:hover ul,
#ctmnav li:hover li:hover li:hover li:hover li:hover ul {
    left: 160px;
    top: -4px;
    background: #83b5f9;
    padding: 3px;
    border: 1px solid #343a70;
    white-space: nowrap;
    width: 160px;
    z-index: 9999;
    height: auto;
}

#ctmnav ul,
#ctmnav li:hover ul ul,
#ctmnav li:hover li:hover ul ul,
#ctmnav li:hover li:hover li:hover ul ul,
#ctmnav li:hover li:hover li:hover li:hover ul ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 9999;
}

#ctmnav li:hover li:hover a.fly,
#ctmnav li:hover li:hover li:hover a.fly,
#ctmnav li:hover li:hover li:hover li:hover a.fly,
#ctmnav li:hover li:hover li:hover li:hover li:hover a.fly {
    background: #5484ca url(../images/arrow_over.gif) 150px 6px no-repeat;
    color: #fff;
    border-color: #fff;
    z-index: 9999;
}

#ctmnav li:hover li:hover li a.fly,
#ctmnav li:hover li:hover li:hover li a.fly,
#ctmnav li:hover li:hover li:hover li:hover li a.fly {
    background: #83b5f9 url(../images/arrow.gif) 150px 6px no-repeat;
    color: #000;
    border-color: #83b5f9;
    z-index: 9999;
}
